{# 
  Component: Lists (Bulleted/Numbered)
  Usage: {% include 'components/list.html' with { items: listItems, type: 'Bulleted' } %}
#}

{% if type == 'Bulleted' %}
<ul class="Bulleted">
{% for item in items %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

{% elif type == 'Numbered' %}
<ol class="Numbered">
{% for item in items %}
    <li>{{ item }}</li>
{% endfor %}
</ol>

{% else %}
{# Fallback per tipus desconegut #}
<ul class="Bulleted">
{% for item in items %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
{% endif %}