{# 
  Component: Standard Table
  Usage: {% include 'components/table.html' with { data: tableData, style: 'StdTable' } %}
#}

<table class="{{ style | default('StdTable') }}">
    {% if data.headers %}
    <thead>
        <tr>
        {% for header in data.headers %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% endif %}
    
    <tbody>
    {% for row in data.rows %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>